b-navbar(toggleable='md', sticky=true)
	b-navbar-brand(href='#')
		i.fas.fa-utensils 
		p Ételfutár
	b-nav-form.form-inline(action="#")
			b-form-input.mr-sm-2(size='sm', type='text', placeholder='Keresés', v-model="keyword")
			b-button.my-2.my-sm-0.btn-outline-light(@click="searchKeyword",size='sm', type='submit')
				i.fas.fa-search
	b-navbar-nav.ml-auto
		b-nav-item-dropdown(right='')
			template(slot='button-content').white-cart.fas.fa-shopping-cart Kosár
				i.white-cart.fas.fa-shopping-cart 
				p.white-cart {{length}} termék
			em
				cart-component(:name="name", :price="price", @on-checkout="checkout")