.navbar-brand {
    i{  
        color:white;
        margin-right:5px;
    }
    p {
        color:white;
        margin-top:17px;
        display:inline-block;
    }
}
.dropdown-menu{
    min-width:300px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color:white;
    border: 1px solid white;

}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link{
    color:white !important;
    p{
        display:inline-block;
        margin-left:6px;
    }
}
.dropdown-toggle::after {
    display:none;
}

