nav.navbar.navbar-expand-lg.navbar-light
	a.navbar-brand(href='#') 
		i.fas.fa-utensils 
		p Ételfutár
	form.form-inline.my-2.my-lg-0(action="#")
		input.form-control.mr-sm-2(type='search', placeholder='Keresés', aria-label='Search' v-model="keyword")
		button.btn.btn-outline-light(@click="searchKeyword")
			i.fas.fa-search
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarSupportedContent
		ul.navbar-nav.mr-auto
			li.nav-item.dropdown
				a#navbarDropdown.nav-link.dropdown-toggle.btn.btn-outline-light(href='#', role='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Kosár
					i.white-cart.fas.fa-shopping-cart 
					p.white-cart 2
				.dropdown-menu(aria-labelledby="navbarDropdown")
					cart-component(:name="name", :price="price")