button.btn-success.col2(@click='getMenuByCategory') {{category}}
//- menu-item(v-if='clicked', v-for='menuItem in menu',:key="menuItem.Id", :name='menuItem.Name', :price='menuItem.Price', :clicked='clicked')