.popular-orders.container
	button.title.green(@click='toggle') Legnépszerűbb termékek:
	menu-item(v-for='menuItem in popularOrders',:key="menuItem.Id", :menuItem='menuItem', :description='menuItem.Description', :name='menuItem.Name', :price='menuItem.Price', :spicy='menuItem.Spicy', :vegetarian='menuItem.Vegetarian', @on-forwardToCart="sendToCart",v-if="open")