.cart
	table.table.table-bordered
		thead
			tr
				th A kosár tartalma:	
		tbody
			cart-item( v-for="(item, index) in cart", :key='item.Id',:item='item',:index='index', :name="item.Name", :price="item.Price", @on-remove='remove', @click="remainOpen")
			tr
				td Összesen:
				td {{total}} Ft
			tr.red(v-if='total>20000') Maximális rendelés 20 000 Ft!
			tr
				td
					button.btn-success(:disabled="wrongAmount",v-bind:class="{ red: wrongAmount}") Megrendelem
