.cart{
    padding:10px;
    background-size:100%;
    background-repeat:no-repeat; 
    background-position: top center;
    p{
        font-weight:bold;
    }
    .content {
        overflow-y:scroll;
        max-height:300px;}
    button{
        font-weight:bold;
        border:none;
        margin-bottom: 20px;
        margin-right:10px;
        padding-top:5px;
        padding-bottom:5px;
    }
    .btn-success{
        background-color:#39ac73;

    }
    .btn-success.red{
        background-color:red;
        color:white;
    }
    .red{
        color:red;
        font-weight: bold;
    }
}