.cart
    p A kosár tartalma:
    cart-item
        //- cart-item(v-for='cartItem in cartItems', :key='id', :name='cartItem.name', :price='cartItem.price')
    p Összesen: {{total}}
    button.btn-success Megrendelem