.error-row {
	background-color: #c23333;
	opacity:0.8;
	border-radius: 4px;
	box-shadow: 0px 3px 4.7px 0.3px rgba(black, 0.24), 0px 1px 6.9px 0.1px rgba(black, 0.16);
	color:white;
	display: flex;
	margin-bottom:10px;
	padding: 18px 20px;
	width: 100%;
}

.error-message {
	color: white;
	font-size: 14px;
	font-weight: 600;
	margin-right: auto;
}

.error-button {
	align-items: center;
	background-color: transparent;
	border: none;
	color: #f0c418;
	cursor: pointer;
	font-size: 14px;
}
