.container
    .row
        .col-8
            p.itemname hoszzúúúúúúúúúúúúúúúúúúúúúúúúúúúnevűkajaaaaaaaaaaaaaaaaaaaaaaaaaa
        .col-2
            p Ár:200
        .col-2
            i.remove.fas.fa-minus-circle