.menuItem
	b-row
		b-col(cols="3")
			b-row
				b-col
					img.img-fluid(src='../../../images/thumb2.jpg' alt='food')
		b-col(cols="9")
			b-row
				b-col(cols="6")
					p {{name}}
				b-col(cols="3")
					p {{price}} Ft
				b-col(cols="3")
					i.fas.fa-plus-circle(@click="addToCart")
			b-row
				b-col
					p {{description}}
			b-row
				span.col-2.vegetarianicon(v-if="vegetarian") Ⓥ
				i.col-2.fab.fa-gripfire(v-if="spicy")