.menuItem{
    background-color:white;
    margin-bottom:15px;
    .name{
        font-weight:bold;
    }
    img{
        width:100%;
        height:80%;
    }
    
    i.fa-plus-circle{
        margin-top:3px;
        color:green;
    }
    i.fa-gripfire{
        color:red;
        // margin-bottom:3px;
    }
}
